.detailed-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .detail-shaper {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detail-model {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .detail-size {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .detail-rating {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .detail-description {
    font-size: 16px;
    line-height: 1.4;
  }
  

  /*comment*/

  .comment-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allows vertical resizing of the textarea */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .comment {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .comment-map {
    max-height: 300px; /* Set a maximum height for the comment container, and add overflow: auto; to enable scrolling if there are too many comments */
    overflow: auto;
  }